@import "bandit.css";

* {
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  transition-property: background-color;
  transition-duration: .3s;
}

.module {
    background-color: @base;
    padding: 0 10px;
    border-radius: 10px;
    margin: 0 10px;
    transition: all 0.3s ease;
    border: 2px solid @border;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 10px;
}

button:hover {
    background: inherit;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces {
    padding: 0;
}

#workspaces button {
    padding: 0; 
}

#workspaces button > * {
    background-color: @button;
    min-width: 30px;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
    transition: all 0.3s ease;
}

#workspaces button.visible > * {
    background-color: @visible;
    min-width: 45px;
}

#workspaces button:hover > * {
    background-color: @hover;
    min-width: 35px;
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.active > * {
    background-color: @active;
    min-width: 60px;
}

#workspaces button.urgent > * {
    background-color: @urgent;
}

#workspaces button:hover.active > * {
    background-color: @hover;
    min-width: 65px;
    box-shadow: inherit;
    text-shadow: inherit;
}


#pulseaudio:hover {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 5px;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#pulseaudio {
    color: @audio;
}

#network {
    color: @wifi;
    min-width: 10px;
    transition: all 300ms;
}

#network:hover {
    min-width: 220px;
}

#temperature {
    color: @sky;
}

#battery {
    color: @battery;
}

#clock {
    color: @clock;
}

#window {
    color: @active_window;
}

#custom-power {
    color: @base;
    min-width: 12px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#custom-power:hover {
    background-color: @red;
    min-width: 53px;
    box-shadow: inherit;
    text-shadow: inherit;
}

.modules-right,
.modules-left,
.modules-center {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

#battery.charging,
#battery.plugged {
    color: @battery;
}

@keyframes blink {
    to {
        /* color: #000000; */
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#pulseaudio.muted {
    color: @text;
}
